<h1>Food Assesment app</h1>
<h4>Order id : <%= @order.id%></h4>
<h5>ordered dish : </h5>
<p><% @order.order_items.each do |item| %></p>
<p><%= item.dish.name%> | price : <%= item.dish.price %> | quantity : <%= item.quantity%></p>
<% end %>
<h3> total_amount : <%=@total.to_i.round(2)%></h3>