<br>
<%= link_to "â† Back to Restauarant", restaurants_path %>
<br><br>


<%= form_with(url: search_restaurant_dishes_path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :search, "Search Dish" %>
    <%= form.text_field :search, value: params[:search], placeholder: "Enter keywords..." %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<h1>All dishes</h1>
<div>
  <% if @dishes.present? %>
  <% @dishes.each do |dish| %>
  <h4>dish name : <%= dish.name %></h4>
  <% end %>
  <% else %>
  <h4>No dish found</h4>
  <%end%>
</div>