<div>
	<h1>Restaurant Dashboard </h1>
	<%= form_with model: @restaurant, url: restaurants_path do |form| %>

 

  <div align="center">
    <%= form.label :name, " Restaurant Name" %> <br>
    <%= form.text_field :name, required: true, autofocus: true, autocomplete: "given-name" %>
  </div>
 <br>

  <div align="center">
    <%= form.label :description, "description" %> <br>
    <%= form.text_field :description, required: true, autocomplete: "description" %>
  </div>
<br>

<h4 align="center">Address</h4>

  <div align="center">
    <%= form.label :street, "street" %> <br>
    <%= form.text_field :street, required: true, autocomplete: "street" %>
  </div>
<br>


  <div align="center">
    <%= form.label :city, "city" %> <br>
    <%= form.text_field :city, required: true, autocomplete: "city" %>
  </div>
<br>


  <div align="center">
    <%= form.label :state, "state" %> <br>
    <%= form.text_field :state, required: true, autocomplete: "state" %>
  </div>
<br>
  
<br>
  <div align="center">
    <%= form.submit "Create Restaurant" %>
  </div>
<% end %>
</div>
