<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Disable Turbo for ActiveAdmin -->
    <meta name="turbo-visit-control" content="reload">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="active_admin">
    <%= yield %>
  </body>
</html>